.hero {
  max-width: 100%;
  position: relative;
  background: #073042;
  box-sizing: border-box;
}

.hero__container {
  max-width: 1280px;
  width: 100%;
  padding: 75px 0 75px;
  overflow: hidden;
  background-image: url('../../images/landing-logo.svg');
  background-repeat: no-repeat;
  background-position: top 150px right 70px;
  background-size: 310px 304px;
  text-align: left;
  margin: auto;
  box-sizing: border-box;
}

.hero__title {
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  padding-left: 70px;
  max-width: 640px;
}

.hero__caption {
  margin: 0;
  padding-left: 70px;
  padding-top: 36px;
  width: 310px;
  height: 32px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
}

@media screen and (max-width: 830px) {
  .hero__container {
    background-position: top 140px left 50%;
    text-align: center;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    font-size: 40px;
    line-height: 50px;
    padding: 0;
    max-width: 680px;
    margin-top: 412px;
  }
  .hero__caption {
    width: 260px;
    padding-top: 22px;
    padding-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .hero__container {
    background-position: top 70px left 50%;
    background-size: 210px 206px;
    padding-bottom: 30px;
  }
  .hero__title {
    font-size: 30px;
    line-height: 38px;
    margin-top: 240px;
    max-width: 310px;
    letter-spacing: -0.04em;
  }
  .hero__caption {
    padding-top: 24px;
  }
}
