.burger {
  z-index: 2;
  transition: 0.4s ease;
}

.burger__font {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.burger__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 68%;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.burger__close-button {
  border: none;
  background: none;
  background-image: url('../../images/close-icon.svg');
  width: 22px;
  height: 22px;
  position: absolute;
  top: 23px;
  right: 23px;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
}

.burger__close-button:hover {
  opacity: 0.8;
}

.burger__menu {
  display: flex;
  flex-direction: column;
  margin-top: 159px;
  gap: 28px;
  align-items: center;
}

.burger__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: 0.4s;
}

.burger__link:hover {
  opacity: 0.8;
}

.burger__link_active {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-decoration: none;
  padding-bottom: 4px;
}

.burger__link_active:hover {
  opacity: 0.8;
}

.burger__button-profile {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  margin-bottom: 92px;
}

.burger__button-profile:hover {
  opacity: 0.8;
}

.burger__button-image {
  border-radius: 6px;
  padding: 9.5px;
  background: #313131;
}

.burger_hide {
  display: none;
}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .burger__menu {
    margin-top: 144px;
    gap: 24px;
  }
  .burger__container {
    width: 100%;
  }
  .burger__close-button {
    top: 14px;
    right: 14px;
  }
  .burger__button-profile {
    margin-bottom: 46px;
  }
}
