.card {
  width: 360px;
  position: relative;
  background-color: #222222;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.card__name {
  max-width: 240px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #8b8b8b;
  padding: 3px 4px;
}

.card__image {
  width: 360px;
  height: 201px;
  cursor: pointer;
}

.card__button {
  width: 100px;
  height: 29px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #000000;
  padding: 6px 7px;
  cursor: pointer;
  margin: 18px auto;
}

.card__button_saved {
  background-image: url('../../images/save-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #ee3465;
}

.card__button_delete {
  background-image: url('../../images/delete-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  display: block;
  background-color: #313131;
}

@media screen and (max-width: 890px) {
  .card {
    width: 339px;
  }
  .card__image {
    width: 339px;
    height: 190px;
  }
  .card__description {
    padding: 25px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 300px;
  }
  .card__image {
    width: 300px;
    height: 168px;
  }
  .card__description {
    padding: 16px 14px 14px;
  }
  .card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 0;
  }

  .card__button {
    margin: 12px auto;
  }
}
