.tech {
  background-color: #272727;
  padding: 100px 70px;
}

.tech__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 90px;
  margin-top: 0;
  text-align: left;
}

.tech__total-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.tech__description {
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto 100px;
}

.tech__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.tech__list-item {
  width: 90px;
  background-color: #303030;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  border-radius: 10px;
  padding: 21px 0 22px;
}

@media screen and (max-width: 1024px) {
  .tech__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 830px) {
  .tech {
    padding: 90px 50px;
  }

  .tech__total-title {
    margin-bottom: 22px;
  }
  .tech__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 83px;
  }
}

@media screen and (max-width: 580px) {
  .tech {
    padding: 70px 18px;
  }
  .tech__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }
  .tech__total-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .tech__list {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    max-width: 190px;
    margin: auto;
  }
  .tech__description {
    margin-bottom: 50px;
    font-size: 11px;
    line-height: 16px;
  }
}
