.login__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 auto 0;
  align-items: center;
  text-align: left;
  padding: 70px 0 0;
}

.login__header {
  width: 100%;
  margin-bottom: 40px;
}

.login__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
  transition: 0.4s;
}

.login__logo:hover {
  opacity: 0.8;
}

.login__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 5px;
}

.login__input {
  color: #ffffff;
  background-color: transparent;
  padding: 0 0 10px;
  margin-bottom: 4px;
  outline: none;
  border: none;
  border-bottom: 1px #424242 solid;
}

.login__input:focus-visible {
  border-bottom: 1px #4285f4 solid;
}

.login__error {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  height: 12px;
}

.login__button {
  background-color: #4285f4;
  border-radius: 3px;
  border: none;
  padding: 13px 0 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 179px;
  cursor: pointer;
  transition: 0.4s;
}

.login__button:hover {
  opacity: 0.8;
}

.login__register {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 70px;
}

.login__link {
  text-decoration: none;
  margin-left: 6px;
  color: #4285f4;
  transition: 0.4s;
}

.login__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 419px) {
  .login__container {
    min-width: 260px;
    width: calc(100% - 60px);
    padding: 54px 0 0;
    padding-bottom: 30px;
  }
  .login__header {
    text-align: center;
    margin-bottom: 80px;
  }
  .login__logo {
    margin-bottom: 50px;
  }
  .login__button {
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0 15px;
    margin-top: 282px;
    margin-bottom: 14px;
  }
  .login__signin {
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
  }

  .login__register {
    font-size: 12px;
    line-height: 14.5px;
    text-align: center;
    color: #8b8b8b;
    margin: 4px 0 70px;
  }

  .login__input {
    padding: 0 0 7px;
  }

  .login__error {
    margin-bottom: 10px;
  }
}
