.morebutton {
  margin-left: 70px;
  margin-top: 146px;
}

.morebutton__button {
  display: block;
  width: 129px;
  height: 36px;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.morebutton__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 830px) {
  .morebutton {
    margin: auto;
    margin-top: 92px;
  }
}

@media screen and (max-width: 580px) {
  .morebutton {
    margin-top: 80px;
  }
}
