.register {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  padding: 70px 0 0;
}

.register__header {
  width: 100%;
  margin-bottom: 40px;
}

.register__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
  transition: 0.4s;
}

.register__logo:hover {
  opacity: 0.8;
}

.register__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 5px;
}

.register__input {
  color: #ffffff;
  background-color: transparent;
  padding: 0 0 10px;
  margin-bottom: 4px;
  outline: none;
  border: none;
  border-bottom: 1px #424242 solid;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.register__input:focus-visible {
  border-bottom: 1px #4285f4 solid;
}

.register__error {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  height: 12px;
}

.register__button {
  background-color: #4285f4;
  border-radius: 3px;
  border: none;
  padding: 13px 0 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 69px;
  cursor: pointer;
  transition: 0.4s;
}

.register__button:hover {
  opacity: 0.8;
}

.register__signin {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 70px;
}

.register__link {
  text-decoration: none;
  margin-left: 6px;
  color: #4285f4;
  transition: 0.4s;
}

.register__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .register__button {
    margin-top: 120px;
  }
}

@media screen and (max-width: 419px) {
  .register {
    min-width: 260px;
    width: calc(100% - 60px);
    padding: 56px 0 0;
    padding-bottom: 30px;
  }
  .register__header {
    text-align: center;
    margin-bottom: 75px;
  }
  .register__logo {
    margin-bottom: 50px;
  }
  .register__button {
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0 15px;
    margin-top: 212px;
    margin-bottom: 14px;
  }
  .register__signin {
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
  }
}
