.navigation {
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px 0;
  position: relative;
}

.navigation__auth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navigation__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__button {
  padding: 8px 20px;
  background-color: #2be080;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  transition: 0.4s;
}

.navigation__button:hover {
  opacity: 0.8;
}

.navigation__movies {
  max-width: 231px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

.navigation__movies a {
  color: #ffffff;
}

.navigation__movies-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.navigation__movies-link:last-of-type {
  margin-right: 0;
}

.navigation__movies-link-active {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  margin-right: 20px;
}

.navigation__movies-link-active:last-of-type {
  margin-right: 0;
}

.navigation__button-account {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

.navigation__button-account:hover {
  opacity: 0.8;
}

.navigation__button-image {
  background: #0f4157;
  border-radius: 6px;
  padding: 9.5px;
}

.navigation__button-image-grey {
  background: #313131;
}

.navigation__burger-btn {
  background: none;
  background-image: url('../../images/burger-icon.svg');
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.navigation__burger-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .navigation {
    justify-content: flex-end;
  }

  .navigation__movies,
  .navigation__button-account {
    display: none;
  }
  .navigation__burger-btn {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .navigation__burger-btn {
    width: 30px;
    margin-right: 10px;
  }

  .navigation__link {
    margin-right: 14px;
    font-size: 10px;
  }

  .navigation__button {
    padding: 5px 12px;
  }
}
