@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
