.search {
  max-width: 1280px;
  margin: auto;
  padding: 70px 70px 10px;
  box-sizing: border-box;
}

.search__form {
  max-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px 25px 25px;
  box-sizing: border-box;
  margin-bottom: 26px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
}

.search__input {
  background-color: transparent;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
  color: #8b8b8b;
}

.search__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #4285f4;
  border-radius: 3px;
  border: none;
  width: 100px;
  height: 52px;
  cursor: pointer;
  transition: 0.4s;
}

.search__button:hover {
  opacity: 0.8;
}

.search__line {
  border: 1px solid rgba(170, 170, 170, 0.2);
  margin-top: 43px;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 70px 30px 0;
  }
}

@media screen and (max-width: 400px) {
  .search {
    padding: 62px 14px 0;
  }
  .search__form {
    max-height: 56px;
    margin-bottom: 30px;
    padding: 20px 6px 20px 12px;
  }

  .search__input {
    width: calc(100% - 85px);
  }
  .search__line {
    margin-top: 63px;
  }

  .search__button {
    width: 80px;
    height: 44px;
  }
}
