.cards {
  max-width: 1280px;
  margin: auto;
  display: block;
  padding: 0 70px 80px;
  box-sizing: border-box;
  min-height: 100vh;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
  column-gap: 30px;
  row-gap: 60px;
  justify-content: center;
  padding: 54px 0 116px;
}

.cards__button {
  width: 100%;
  background-color: #2f2f2f;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  padding: 11px 0 9px;
  cursor: pointer;
  transition: 0.4s;
}

.cards__button-hidden {
  display: none;
}

.cards__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 890px) {
  .cards {
    margin: 0 30px 80px;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    row-gap: 45px;
    padding-bottom: 44px;
  }
}

@media screen and (max-width: 400px) {
  .cards__list {
    margin-top: 10px;
    padding-top: 40px;
    row-gap: 16px;
    padding-bottom: 47px;
  }
}
