.about {
  max-width: 100%;
  background-color: #202020;
}

.about__container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 110px 70px;
  box-sizing: border-box;
}
@media screen and (max-width: 830px) {
  .about__container {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 580px) {
  .about__container {
    padding: 70px 18px;
  }
}

.about__title {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #fff;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  text-align: left;
}

.about__descriptions {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  text-align: left;
}

.about__description {
  max-width: 550px;
  margin-bottom: 110px;
  margin-top: 70px;
}

.about__description-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.about__description-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 830px) {
  .about__descriptions {
    gap: 30px;
  }

  .about__description {
    margin-bottom: 93px;
  }

  .about__description-title {
    margin-bottom: 22px;
  }
  .about__description-paragraph {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 580px) {
  .about__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .about__descriptions {
    flex-direction: column;
    padding-top: 44px;
    gap: 0;
  }
  .about__description {
    margin-top: 16px;
    margin-bottom: 40px;
  }
  .about__description-title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
  .about__description-paragraph {
    font-size: 11px;
    line-height: 16px;
  }
}

.about__timelines {
  display: flex;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}

.about__backend {
  display: flex;
  background-color: #2be080;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.about__frontend {
  display: flex;
  background-color: #303030;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.about__time-text {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.about__backend-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.about__frontend-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

@media screen and (max-width: 320px) {
  .about__backend {
    width: 100px;
  }
  .about__frontend {
    width: 184px;
  }
  .about__backend-text {
    width: 100px;
  }

  .about__frontend-text {
    width: 184px;
  }
}

@media screen and (max-width: 580px) {
  .about__timelines {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
  }

  .about__time-text {
    font-size: 11px;
    line-height: 13px;
  }
}
