.profile {
  display: flex;
  flex-direction: column;
  margin: 74px auto 70px;
  width: 410px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.profile__form {
  width: 100%;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  margin-top: 103px;
}

.profile__line {
  border: 1px solid #424242;
}

.profile__value {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.profile__label {
  font-weight: 500;
  color: #ffffff;
}

.profile__input {
  width: 80%;
  background-color: transparent;
  color: #ffffff;
  border: none;
  text-align: right;
  font-weight: 400;
  outline: none;
}

.profile__control {
  margin-top: 220px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__edit {
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__logout {
  font-weight: 500;
  color: #ee3465;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 236px auto 269px;
  }
  .profile__title {
    margin-bottom: 80px;
  }
  .profile__control {
    margin-top: 194px;
  }
}

@media screen and (max-width: 410px) {
  .profile {
    width: 260px;
    margin: 70px auto 40px;
  }
  .profile__title {
    margin-top: 0;
  }
  .profile__control {
    margin-top: 363px;
  }
}
